*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 17.5rem;
  font: 16px / 1.5 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  padding: 1.5rem;
  background-color: #609aff;
}

header {
  height: 0;
  width: 100%;
}

main {
  align-self: center;
}

.pricing-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 58rem;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 0.5em 1em 0.25em #0003;
}

.pricing-panel div {
  flex: 1 1 100%;
  padding: 3rem 1rem;
  letter-spacing: 0.0625em;
  text-align: center;
  text-transform: uppercase;
}

.pricing-panel div:not(:last-of-type) {
  border-bottom: 0.0625em solid #e1f1ff;
}

.pricing-panel img {
  width: 100%;
  max-width: 22rem;
}

.pricing-panel p:first-of-type {
  margin: 0.75rem 0 2.5rem;
  font-weight: 600;
  color: #888;
}

.pricing-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-panel ul li {
  padding: 1rem 0;
  font-size: 0.9em;
  font-weight: 600;
  color: #016ff9;
}

.pricing-panel li:not(:last-of-type) {
  border-top: 0.0625em solid #e1f1ff;
}

.pricing-panel li:last-of-type {
  border-top: 0.0625em solid #e1f1ff;
  border-bottom: 0.0625em solid #e1f1ff;
}

.pricing-panel p:last-of-type {
  margin: 1rem 0;
  font-size: 1.8em;
  font-weight: 700;
  color: #016ff9;
}

.pricing-panel button {
  padding: 0.75em 2em;
  text-transform: inherit;
  border: 0.0625em solid #9dd1ff;
  border-radius: 0.6em;
  outline-offset: 0.125em;
  transition:
      background-color 250ms,
      outline-offset 175ms;
}

.pricing-panel button:not(.is-featured) {
  background-color: #fff;
  color: #348efe;
}

.pricing-panel .is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-panel button:focus {
  outline: 0.125em solid #000;
  outline-offset: 0;
}

.pricing-panel button:hover {
  cursor: pointer;
}

.pricing-panel button:not(.is-featured):hover {
  background-color: #e1f1ff;
}

.pricing-panel .is-featured:hover {
  background-color: #269aff;
}

footer {
  align-self: flex-end;
  width: 100%;
}

footer div {
  margin: 0 auto;
  width: 100%;
  max-width: 58rem;
}

footer a {
  display: block;
  height: 2rem;
  margin: 0 0 0 auto;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 1em 0.25em #0003;
  outline-offset: 0.25em;
  transition:
      transform 250ms ease-in-out,
      outline-offset 175ms;
}

footer a:focus {
  outline: 0.125em solid #000;
  outline-offset: 0.125em;
}

footer a:hover {
  transform: rotate(-40deg);
}

@media only screen and (min-width: 58rem) and (orientation: landscape) {
  .pricing-panel div {
    flex: 1;
    padding: 2rem;
  }

  .pricing-panel div:not(:last-of-type) {
    border: 0;
    border-right: 0.0625em solid #e1f1ff;
  }
}